<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbBank" connectionString="Data Source=DESKTOP-EHFS3CM\SQLEXPRESS;Initial Catalog=DB_bank;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>